# Gradle files
.gradle/
build/
*/build/

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android Studio / IntelliJ
*.iml
.idea/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# NDK
.externalNativeBuild/
.cxx/
/captures/

# Release / Outputs
/release/
*.apk
*.aab
